<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,187}</string>
                <key>spriteSourceSize</key>
                <string>{671,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{671,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PhotounCH01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,180}</string>
                <key>spriteSourceSize</key>
                <string>{657,180}</string>
                <key>textureRect</key>
                <string>{{674,1},{657,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PhotounCHLock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,174}</string>
                <key>spriteSourceSize</key>
                <string>{650,174}</string>
                <key>textureRect</key>
                <string>{{1333,1},{650,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Album1.png</string>
            <key>size</key>
            <string>{1984,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6426afc10bdac5d7ec4d7d9e95b3f9:50aaab852a136709e78d12b77e45af0e:1f31c94ef77bd6eabd578fb167eb0500$</string>
            <key>textureFileName</key>
            <string>Album1.png</string>
        </dict>
    </dict>
</plist>
