<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AWS_Bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,41}</string>
                <key>spriteSourceSize</key>
                <string>{100,41}</string>
                <key>textureRect</key>
                <string>{{215,1721},{100,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{1,1721},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{108,1721},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{1,1},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{1,861},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{660,1},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{461,1721},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{495,1721},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{529,1721},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{563,1721},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{597,1721},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1319,1},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1319,411},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1319,821},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1307,1231},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{939,1659},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{660,1659},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{753,1659},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{846,1659},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_arrow.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,126}</string>
                <key>textureRect</key>
                <string>{{1307,1641},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{317,1721},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{353,1721},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{389,1721},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{425,1721},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mask_AWS_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,796}</string>
                <key>spriteSourceSize</key>
                <string>{645,796}</string>
                <key>textureRect</key>
                <string>{{660,861},{645,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AWS0.png</string>
            <key>size</key>
            <string>{1728,1768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4aa34f0f284c497ed715ccd275f35b8:64936176756d6e3fa361caa0850fcd2d:c28ee309ea311f6abaaf53d5e5c9ef9b$</string>
            <key>textureFileName</key>
            <string>AWS0.png</string>
        </dict>
    </dict>
</plist>
