<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attributes_Battle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{440,859},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{496,859},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{552,859},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{608,859},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{664,859},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{885,588},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{939,588},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{993,588},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1047,588},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1193,545},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1193,599},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attributes_Battle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1247,545},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Boss_Hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,7}</string>
                <key>spriteSourceSize</key>
                <string>{97,7}</string>
                <key>textureRect</key>
                <string>{{193,891},{97,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Boss_Hp_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,9}</string>
                <key>spriteSourceSize</key>
                <string>{100,9}</string>
                <key>textureRect</key>
                <string>{{193,880},{100,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,7}</string>
                <key>spriteSourceSize</key>
                <string>{97,7}</string>
                <key>textureRect</key>
                <string>{{193,891},{97,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Hp_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,9}</string>
                <key>spriteSourceSize</key>
                <string>{100,9}</string>
                <key>textureRect</key>
                <string>{{193,880},{100,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Mp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,6}</string>
                <key>spriteSourceSize</key>
                <string>{102,6}</string>
                <key>textureRect</key>
                <string>{{292,891},{102,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Mp_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,9}</string>
                <key>spriteSourceSize</key>
                <string>{104,9}</string>
                <key>textureRect</key>
                <string>{{138,902},{104,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,7}</string>
                <key>spriteSourceSize</key>
                <string>{97,7}</string>
                <key>textureRect</key>
                <string>{{244,900},{97,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Role_Shield_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,9}</string>
                <key>spriteSourceSize</key>
                <string>{100,9}</string>
                <key>textureRect</key>
                <string>{{193,880},{100,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleUI_C00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,239}</string>
                <key>spriteSourceSize</key>
                <string>{135,239}</string>
                <key>textureRect</key>
                <string>{{1,678},{135,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleUI_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{1247,599},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_CommonBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{724,914},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1112,931},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,133}</string>
                <key>textureRect</key>
                <string>{{654,453},{135,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,133}</string>
                <key>textureRect</key>
                <string>{{791,453},{135,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1189,931},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_speedx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1266,931},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_speedx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{654,588},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_speedx4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{731,588},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_btn_speedx4_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{808,588},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_bttn_restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,133}</string>
                <key>textureRect</key>
                <string>{{928,453},{135,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_icon_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{138,880},{53,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{821,914},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_shibai_image_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{1101,548},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_shibai_image_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1162,453},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Battle_shibai_image_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1254,453},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossBattle_TOP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,91}</string>
                <key>spriteSourceSize</key>
                <string>{721,91}</string>
                <key>textureRect</key>
                <string>{{1,919},{721,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossEncounter_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,450}</string>
                <key>spriteSourceSize</key>
                <string>{720,450}</string>
                <key>textureRect</key>
                <string>{{654,1},{720,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossEncounter_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,675}</string>
                <key>spriteSourceSize</key>
                <string>{651,675}</string>
                <key>textureRect</key>
                <string>{{1,1},{651,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IdleBattle_Challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{918,914},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IdleBattle_Express.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1015,914},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IdleBattle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,53}</string>
                <key>spriteSourceSize</key>
                <string>{361,53}</string>
                <key>textureRect</key>
                <string>{{720,859},{361,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IdleBattle_Task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1065,453},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_chapterflag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,200}</string>
                <key>spriteSourceSize</key>
                <string>{149,200}</string>
                <key>textureRect</key>
                <string>{{138,678},{149,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_chapterflag02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,200}</string>
                <key>spriteSourceSize</key>
                <string>{149,200}</string>
                <key>textureRect</key>
                <string>{{289,678},{149,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_img_talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{912,179}</string>
                <key>spriteSourceSize</key>
                <string>{912,179}</string>
                <key>textureRect</key>
                <string>{{440,678},{912,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,70}</string>
                <key>spriteSourceSize</key>
                <string>{261,70}</string>
                <key>textureRect</key>
                <string>{{1112,859},{261,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Battle_MainPage0.png</string>
            <key>size</key>
            <string>{1375,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2dd41ad0db172db34f6724cbeb4939:cc838dddedd3755544e2154838c3909c:c4ac10b4713211f4e89149d4c64a03f0$</string>
            <key>textureFileName</key>
            <string>Battle_MainPage0.png</string>
        </dict>
    </dict>
</plist>
