<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Critical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,53}</string>
                <key>spriteSourceSize</key>
                <string>{234,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,53}</string>
                <key>spriteSourceSize</key>
                <string>{231,53}</string>
                <key>textureRect</key>
                <string>{{237,1},{231,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,53}</string>
                <key>textureRect</key>
                <string>{{666,1},{189,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,53}</string>
                <key>spriteSourceSize</key>
                <string>{141,53}</string>
                <key>textureRect</key>
                <string>{{1034,1},{141,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Resist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,53}</string>
                <key>spriteSourceSize</key>
                <string>{194,53}</string>
                <key>textureRect</key>
                <string>{{470,1},{194,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,52}</string>
                <key>spriteSourceSize</key>
                <string>{126,52}</string>
                <key>textureRect</key>
                <string>{{1177,1},{126,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Weak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,53}</string>
                <key>spriteSourceSize</key>
                <string>{175,53}</string>
                <key>textureRect</key>
                <string>{{857,1},{175,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Battle_Num0.png</string>
            <key>size</key>
            <string>{1304,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7676dc9b7e25c20cc8ca3a0ec9ec801:511fa9100db6b29dfe730cf47e87fb8d:c5b6d49a383f13c78a8d2b99b6390af3$</string>
            <key>textureFileName</key>
            <string>Battle_Num0.png</string>
        </dict>
    </dict>
</plist>
