<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chat_Emoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{70,78},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_biaoqing_diban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1,104},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NG_PIC1_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{66,130},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NG_PIC2_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{71,1},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NG_PIC3_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,43}</string>
                <key>textureRect</key>
                <string>{{1,59},{67,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{105,49},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,16}</string>
                <key>spriteSourceSize</key>
                <string>{21,16}</string>
                <key>textureRect</key>
                <string>{{64,179},{21,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{71,49},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{1,169},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_biaoqingtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{32,169},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChatPage0.png</string>
            <key>size</key>
            <string>{121,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd3f869562ea3361e58090d413f10f9c:3e7e090e634e4e4cf4a13e86bca021cd:2dcf868c86c0da77f727f7f995e90ca2$</string>
            <key>textureFileName</key>
            <string>ChatPage0.png</string>
        </dict>
    </dict>
</plist>
