<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EventNews_Btn1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{605,600},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{844,335},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,9}</string>
                <key>spriteSourceSize</key>
                <string>{45,9}</string>
                <key>textureRect</key>
                <string>{{762,335},{45,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{759,517},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,19}</string>
                <key>spriteSourceSize</key>
                <string>{9,19}</string>
                <key>textureRect</key>
                <string>{{892,166},{9,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{815,517},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guildbanner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,193}</string>
                <key>spriteSourceSize</key>
                <string>{202,193}</string>
                <key>textureRect</key>
                <string>{{604,1},{202,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{750,544},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{808,1},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{808,68},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{759,394},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RuneLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{557,666},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{808,166},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,29}</string>
                <key>spriteSourceSize</key>
                <string>{93,29}</string>
                <key>textureRect</key>
                <string>{{808,135},{93,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,39}</string>
                <key>spriteSourceSize</key>
                <string>{238,39}</string>
                <key>textureRect</key>
                <string>{{604,353},{238,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{875,69},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{825,394},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,54}</string>
                <key>textureRect</key>
                <string>{{616,544},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,54}</string>
                <key>textureRect</key>
                <string>{{759,461},{131,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{658,600},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{604,196},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneSelect_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{847,585},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_Lock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{745,639},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_Lock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{792,639},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{839,639},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_btn1_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{847,538},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_img1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,51}</string>
                <key>spriteSourceSize</key>
                <string>{602,51}</string>
                <key>textureRect</key>
                <string>{{1,560},{602,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_RuneStats_img1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,51}</string>
                <key>spriteSourceSize</key>
                <string>{602,51}</string>
                <key>textureRect</key>
                <string>{{1,613},{602,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_Rune_Lock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{605,653},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePopup_Rune_Lock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{653,653},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,37}</string>
                <key>spriteSourceSize</key>
                <string>{452,37}</string>
                <key>textureRect</key>
                <string>{{1,666},{452,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,137}</string>
                <key>spriteSourceSize</key>
                <string>{130,137}</string>
                <key>textureRect</key>
                <string>{{762,196},{130,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{711,600},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon01_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{711,634},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{701,668},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon02_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{455,666},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{489,666},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon03_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{523,666},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{875,1},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon04_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{875,35},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ui03_diban_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,121}</string>
                <key>spriteSourceSize</key>
                <string>{613,121}</string>
                <key>textureRect</key>
                <string>{{1,437},{613,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,14}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{233,176}</string>
                <key>textureRect</key>
                <string>{{616,394},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,434}</string>
                <key>spriteSourceSize</key>
                <string>{601,434}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common_UI030.png</string>
            <key>size</key>
            <string>{903,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:956d6fb3357cc05f1f86e8cc12e0d1ad:35bea6836913cf1ebaa09a9972e8740d:78ab989ec514c01fda4768435148830d$</string>
            <key>textureFileName</key>
            <string>Common_UI030.png</string>
        </dict>
    </dict>
</plist>
