<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{501,147}</string>
                <key>spriteSourceSize</key>
                <string>{501,155}</string>
                <key>textureRect</key>
                <string>{{1039,1283},{501,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1330,1610},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1537,1726},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_NB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1236,1735},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1236,1818},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1162,1901},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1486,1809},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,182}</string>
                <key>spriteSourceSize</key>
                <string>{213,182}</string>
                <key>textureRect</key>
                <string>{{947,1844},{213,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,130}</string>
                <key>spriteSourceSize</key>
                <string>{320,130}</string>
                <key>textureRect</key>
                <string>{{1039,1432},{320,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,130}</string>
                <key>spriteSourceSize</key>
                <string>{320,130}</string>
                <key>textureRect</key>
                <string>{{1008,1564},{320,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1369,1934},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,106}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1693,1809},{177,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,152}</string>
                <key>spriteSourceSize</key>
                <string>{316,152}</string>
                <key>textureRect</key>
                <string>{{1442,1126},{316,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,151}</string>
                <key>spriteSourceSize</key>
                <string>{316,151}</string>
                <key>textureRect</key>
                <string>{{1539,1573},{316,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,291}</string>
                <key>spriteSourceSize</key>
                <string>{304,291}</string>
                <key>textureRect</key>
                <string>{{1542,1280},{304,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,44}</string>
                <key>spriteSourceSize</key>
                <string>{173,44}</string>
                <key>textureRect</key>
                <string>{{1693,1917},{173,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,158}</string>
                <key>spriteSourceSize</key>
                <string>{701,158}</string>
                <key>textureRect</key>
                <string>{{336,1283},{701,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{962,1696},{272,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,365}</string>
                <key>spriteSourceSize</key>
                <string>{366,365}</string>
                <key>textureRect</key>
                <string>{{1442,1},{366,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1361,1432},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,48}</string>
                <key>spriteSourceSize</key>
                <string>{465,48}</string>
                <key>textureRect</key>
                <string>{{336,1975},{465,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1,1283},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,131}</string>
                <key>spriteSourceSize</key>
                <string>{670,131}</string>
                <key>textureRect</key>
                <string>{{336,1443},{670,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,131}</string>
                <key>spriteSourceSize</key>
                <string>{624,131}</string>
                <key>textureRect</key>
                <string>{{336,1576},{624,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,131}</string>
                <key>spriteSourceSize</key>
                <string>{624,131}</string>
                <key>textureRect</key>
                <string>{{336,1709},{624,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,1280}</string>
                <key>spriteSourceSize</key>
                <string>{717,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{717,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,131}</string>
                <key>spriteSourceSize</key>
                <string>{609,131}</string>
                <key>textureRect</key>
                <string>{{336,1842},{609,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_team01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,377}</string>
                <key>spriteSourceSize</key>
                <string>{307,377}</string>
                <key>textureRect</key>
                <string>{{1442,368},{307,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_team02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,377}</string>
                <key>spriteSourceSize</key>
                <string>{307,377}</string>
                <key>textureRect</key>
                <string>{{1442,747},{307,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole2.png</string>
            <key>size</key>
            <string>{1871,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041b8cc3bc291388054a9570ab07cb08:d7a689915ac8fd74f36e31e3fda0761b:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole2.png</string>
        </dict>
    </dict>
</plist>
