<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_img_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,859}</string>
                <key>spriteSourceSize</key>
                <string>{720,859}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,859}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{688,958}</string>
                <key>spriteSourceSize</key>
                <string>{704,1024}</string>
                <key>textureRect</key>
                <string>{{1,862},{688,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole4.png</string>
            <key>size</key>
            <string>{722,1821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041b8cc3bc291388054a9570ab07cb08:d7a689915ac8fd74f36e31e3fda0761b:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole4.png</string>
        </dict>
    </dict>
</plist>
