<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1128,754},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1128,892},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{1122,1763},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn07_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{723,1546},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_filling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,119}</string>
                <key>textureRect</key>
                <string>{{723,1763},{397,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1043,1200},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,609}</string>
                <key>spriteSourceSize</key>
                <string>{720,609}</string>
                <key>textureRect</key>
                <string>{{1,1283},{720,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{1128,1160},{103,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,609}</string>
                <key>spriteSourceSize</key>
                <string>{720,609}</string>
                <key>textureRect</key>
                <string>{{1283,1373},{720,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,147}</string>
                <key>spriteSourceSize</key>
                <string>{608,147}</string>
                <key>textureRect</key>
                <string>{{1,1894},{608,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,128}</string>
                <key>spriteSourceSize</key>
                <string>{145,128}</string>
                <key>textureRect</key>
                <string>{{1128,1030},{145,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{1128,613},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_EV1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,1280}</string>
                <key>spriteSourceSize</key>
                <string>{318,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{318,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,455}</string>
                <key>spriteSourceSize</key>
                <string>{27,455}</string>
                <key>textureRect</key>
                <string>{{2005,459},{27,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,182}</string>
                <key>spriteSourceSize</key>
                <string>{27,182}</string>
                <key>textureRect</key>
                <string>{{1245,1},{27,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,473}</string>
                <key>spriteSourceSize</key>
                <string>{44,473}</string>
                <key>textureRect</key>
                <string>{{1199,1},{44,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{611,2027},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,585}</string>
                <key>spriteSourceSize</key>
                <string>{83,585}</string>
                <key>textureRect</key>
                <string>{{1043,613},{83,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img05S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,610}</string>
                <key>spriteSourceSize</key>
                <string>{154,610}</string>
                <key>textureRect</key>
                <string>{{1043,1},{154,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,460}</string>
                <key>spriteSourceSize</key>
                <string>{10,460}</string>
                <key>textureRect</key>
                <string>{{2005,1373},{10,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,171}</string>
                <key>spriteSourceSize</key>
                <string>{77,171}</string>
                <key>textureRect</key>
                <string>{{1199,476},{77,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{1935,1283},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,172}</string>
                <key>spriteSourceSize</key>
                <string>{120,172}</string>
                <key>textureRect</key>
                <string>{{723,1372},{120,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,103}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{1187,649},{92,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,397}</string>
                <key>spriteSourceSize</key>
                <string>{396,397}</string>
                <key>textureRect</key>
                <string>{{855,1364},{396,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,455}</string>
                <key>spriteSourceSize</key>
                <string>{27,455}</string>
                <key>textureRect</key>
                <string>{{2005,916},{27,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,456}</string>
                <key>spriteSourceSize</key>
                <string>{27,456}</string>
                <key>textureRect</key>
                <string>{{2005,1},{27,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,455}</string>
                <key>spriteSourceSize</key>
                <string>{28,455}</string>
                <key>textureRect</key>
                <string>{{1253,1362},{28,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{723,1677},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1283,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,131}</string>
                <key>spriteSourceSize</key>
                <string>{670,131}</string>
                <key>textureRect</key>
                <string>{{611,1894},{670,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,56}</string>
                <key>spriteSourceSize</key>
                <string>{550,56}</string>
                <key>textureRect</key>
                <string>{{723,1283},{550,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-162.5,37}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{657,2027},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,77}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{1275,1283},{328,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,77}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{1605,1283},{328,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,21}</string>
                <key>spriteSourceSize</key>
                <string>{121,21}</string>
                <key>textureRect</key>
                <string>{{855,1341},{121,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,29}</string>
                <key>spriteSourceSize</key>
                <string>{130,29}</string>
                <key>textureRect</key>
                <string>{{723,1341},{130,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,60}</string>
                <key>spriteSourceSize</key>
                <string>{721,60}</string>
                <key>textureRect</key>
                <string>{{1283,1984},{721,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole0.png</string>
            <key>size</key>
            <string>{2033,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041b8cc3bc291388054a9570ab07cb08:d7a689915ac8fd74f36e31e3fda0761b:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole0.png</string>
        </dict>
    </dict>
</plist>
