<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BattleTeam_Btm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,51}</string>
                <key>spriteSourceSize</key>
                <string>{105,51}</string>
                <key>textureRect</key>
                <string>{{1715,400},{105,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Btm01_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,50}</string>
                <key>spriteSourceSize</key>
                <string>{106,50}</string>
                <key>textureRect</key>
                <string>{{1291,953},{106,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Btm01_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,51}</string>
                <key>spriteSourceSize</key>
                <string>{105,51}</string>
                <key>textureRect</key>
                <string>{{1822,400},{105,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,383}</string>
                <key>spriteSourceSize</key>
                <string>{721,383}</string>
                <key>textureRect</key>
                <string>{{686,1},{721,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,67}</string>
                <key>spriteSourceSize</key>
                <string>{262,67}</string>
                <key>textureRect</key>
                <string>{{1416,781},{262,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,67}</string>
                <key>spriteSourceSize</key>
                <string>{262,67}</string>
                <key>textureRect</key>
                <string>{{1658,686},{262,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,155}</string>
                <key>spriteSourceSize</key>
                <string>{171,155}</string>
                <key>textureRect</key>
                <string>{{1638,455},{171,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,310}</string>
                <key>spriteSourceSize</key>
                <string>{690,310}</string>
                <key>textureRect</key>
                <string>{{1,643},{690,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{1329,873},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{496,33}</string>
                <key>spriteSourceSize</key>
                <string>{530,33}</string>
                <key>textureRect</key>
                <string>{{610,959},{496,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,55}</string>
                <key>spriteSourceSize</key>
                <string>{102,55}</string>
                <key>textureRect</key>
                <string>{{1811,548},{102,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,54}</string>
                <key>textureRect</key>
                <string>{{1291,1005},{101,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{1195,1057},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,167}</string>
                <key>spriteSourceSize</key>
                <string>{362,167}</string>
                <key>textureRect</key>
                <string>{{1409,84},{362,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,258}</string>
                <key>spriteSourceSize</key>
                <string>{721,258}</string>
                <key>textureRect</key>
                <string>{{693,530},{721,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1407,948},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1871,881},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1811,453},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{610,1070},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{644,1070},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{678,1070},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{707,1070},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,640}</string>
                <key>spriteSourceSize</key>
                <string>{683,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,77}</string>
                <key>spriteSourceSize</key>
                <string>{327,77}</string>
                <key>textureRect</key>
                <string>{{1409,253},{327,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,74}</string>
                <key>spriteSourceSize</key>
                <string>{325,74}</string>
                <key>textureRect</key>
                <string>{{610,994},{325,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,19}</string>
                <key>spriteSourceSize</key>
                <string>{44,19}</string>
                <key>textureRect</key>
                <string>{{736,1070},{44,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,7}</string>
                <key>spriteSourceSize</key>
                <string>{573,7}</string>
                <key>textureRect</key>
                <string>{{693,950},{573,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,69}</string>
                <key>spriteSourceSize</key>
                <string>{41,69}</string>
                <key>textureRect</key>
                <string>{{1880,605},{41,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{1745,302},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{1329,790},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1844,302},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1891,37},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,114}</string>
                <key>spriteSourceSize</key>
                <string>{634,114}</string>
                <key>textureRect</key>
                <string>{{693,790},{634,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_LevelUp_icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1765,853},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_LevelUp_icon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1891,1},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Level_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,56}</string>
                <key>spriteSourceSize</key>
                <string>{305,56}</string>
                <key>textureRect</key>
                <string>{{1408,397},{305,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_StarUp_icon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1249,1057},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_StarUp_icon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{1738,253},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,42}</string>
                <key>spriteSourceSize</key>
                <string>{633,42}</string>
                <key>textureRect</key>
                <string>{{693,906},{633,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1484,948},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1561,951},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1638,951},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1394,1025},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1817,1019},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1687,1036},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1752,1036},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1471,1025},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_ht_dingbu_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,81}</string>
                <key>spriteSourceSize</key>
                <string>{480,81}</string>
                <key>textureRect</key>
                <string>{{1409,1},{480,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_showSpine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,250}</string>
                <key>spriteSourceSize</key>
                <string>{220,250}</string>
                <key>textureRect</key>
                <string>{{1416,455},{220,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_title_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,63}</string>
                <key>spriteSourceSize</key>
                <string>{334,63}</string>
                <key>textureRect</key>
                <string>{{1409,332},{334,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{1773,226},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{1114,1057},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Collection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1871,933},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Collection_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1865,966},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1904,933},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Hero_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1283,1061},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_gallery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1887,226},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_gallery_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1887,259},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1857,755},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1622,1028},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,142}</string>
                <key>spriteSourceSize</key>
                <string>{720,142}</string>
                <key>textureRect</key>
                <string>{{686,386},{720,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,72}</string>
                <key>textureRect</key>
                <string>{{1416,707},{240,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,72}</string>
                <key>textureRect</key>
                <string>{{1638,612},{240,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1715,959},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ht_activity_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,147}</string>
                <key>spriteSourceSize</key>
                <string>{607,147}</string>
                <key>textureRect</key>
                <string>{{1,955},{607,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ht_arrow_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1871,824},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{1792,959},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{937,994},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1680,755},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1114,959},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1411,850},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1588,853},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{1817,1064},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1548,1028},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_press2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1773,84},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_spilt_addPic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1898,970},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_bar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{1844,383},{27,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_bar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,8}</string>
                <key>spriteSourceSize</key>
                <string>{21,8}</string>
                <key>textureRect</key>
                <string>{{1880,676},{21,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GroupPage0.png</string>
            <key>size</key>
            <string>{1928,1103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d9a10a85510e70efd0da512a836780b:b65af0d7894bfd38e4b6eb97043fe416:37f840e0afe15d5ecae88ee0ac1565de$</string>
            <key>textureFileName</key>
            <string>GroupPage0.png</string>
        </dict>
    </dict>
</plist>
