<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,242}</string>
                <key>spriteSourceSize</key>
                <string>{535,242}</string>
                <key>textureRect</key>
                <string>{{282,1330},{535,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1076,860},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,229}</string>
                <key>spriteSourceSize</key>
                <string>{396,229}</string>
                <key>textureRect</key>
                <string>{{1608,860},{396,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,224}</string>
                <key>spriteSourceSize</key>
                <string>{398,224}</string>
                <key>textureRect</key>
                <string>{{1271,1815},{398,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,74}</string>
                <key>textureRect</key>
                <string>{{1071,1815},{195,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Monthly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{353,604},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,311}</string>
                <key>spriteSourceSize</key>
                <string>{440,311}</string>
                <key>textureRect</key>
                <string>{{634,848},{440,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Weekly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{353,967},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_daily_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,1329},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,110}</string>
                <key>spriteSourceSize</key>
                <string>{352,110}</string>
                <key>textureRect</key>
                <string>{{1428,1494},{352,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1309,1104},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1351,1299},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1071,1620},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{677,303},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirstRecharge_title01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,405}</string>
                <key>spriteSourceSize</key>
                <string>{350,405}</string>
                <key>textureRect</key>
                <string>{{1,604},{350,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{1,1692},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{819,1303},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,242}</string>
                <key>spriteSourceSize</key>
                <string>{498,242}</string>
                <key>textureRect</key>
                <string>{{571,1652},{498,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Levekup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,71}</string>
                <key>spriteSourceSize</key>
                <string>{571,71}</string>
                <key>textureRect</key>
                <string>{{855,1547},{571,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1782,1494},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{634,1161},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{596,1896},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,98}</string>
                <key>spriteSourceSize</key>
                <string>{286,98}</string>
                <key>textureRect</key>
                <string>{{1671,1928},{286,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{1220,623},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,316}</string>
                <key>spriteSourceSize</key>
                <string>{350,316}</string>
                <key>textureRect</key>
                <string>{{1,1011},{350,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,320}</string>
                <key>spriteSourceSize</key>
                <string>{357,320}</string>
                <key>textureRect</key>
                <string>{{1686,1606},{357,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RarityUP_Success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,76}</string>
                <key>spriteSourceSize</key>
                <string>{571,76}</string>
                <key>textureRect</key>
                <string>{{282,1574},{571,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Getpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,54}</string>
                <key>spriteSourceSize</key>
                <string>{197,54}</string>
                <key>textureRect</key>
                <string>{{1076,1104},{197,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{1,303},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{677,1},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1352,1},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,318}</string>
                <key>spriteSourceSize</key>
                <string>{525,318}</string>
                <key>textureRect</key>
                <string>{{1362,303},{525,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_200_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,262}</string>
                <key>spriteSourceSize</key>
                <string>{541,262}</string>
                <key>textureRect</key>
                <string>{{677,584},{541,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{1,1922},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner0.png</string>
            <key>size</key>
            <string>{2044,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55520e125e903566d24810838b8734a:db4eee5ee2f38bcbb9bd13f57b2d977e:c21101f73408dcafcb8d66bb067721d3$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner0.png</string>
        </dict>
    </dict>
</plist>
