<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_HideUI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{199,1},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AncientWeaponSystem_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1,298},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Story_Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{296,1},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{100,100},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroAwaken_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{247,431},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{490,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{490,93},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{486,185},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{197,191},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_7Days.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{96,393},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{289,273},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{368,273},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{447,277},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{168,283},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{168,362},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{289,193},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{247,352},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{369,193},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Btn_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{326,352},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_DailyRechange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{98,199},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_FirstPurchase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{98,283},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_NewPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{482,356},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{166,441},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{323,431},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Wish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{386,433},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{449,440},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>News.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{512,440},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultScreen_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{405,356},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunePage_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{393,1},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_7dayMission_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,199},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Equip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,393},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_RairtyUP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{296,96},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Seven7DayQuest_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,199},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Stats.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{391,96},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SummonPremium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_holygrail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>album.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{199,96},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Button1.png</string>
            <key>size</key>
            <string>{581,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0de647a79de50f863b43d9ce7f540ee3:98ed2b3086ee89d0376de3b2fd35bdbc:01ffb0e8b4ded950ca33197501550eb0$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Button1.png</string>
        </dict>
    </dict>
</plist>
