<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Battle_cleared.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,39}</string>
                <key>spriteSourceSize</key>
                <string>{268,77}</string>
                <key>textureRect</key>
                <string>{{576,150},{256,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{803,371},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{803,398},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,364},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,391},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,418},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{666,424},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_Lost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{806,295},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_Victory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{693,363},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{666,478},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{576,499},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{733,479},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Tag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,445},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Tag02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{756,425},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,886}</string>
                <key>spriteSourceSize</key>
                <string>{573,886}</string>
                <key>textureRect</key>
                <string>{{1,1},{573,886}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_TextBP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,36}</string>
                <key>spriteSourceSize</key>
                <string>{61,36}</string>
                <key>textureRect</key>
                <string>{{834,188},{61,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_TextLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,36}</string>
                <key>spriteSourceSize</key>
                <string>{63,36}</string>
                <key>textureRect</key>
                <string>{{834,150},{63,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{666,451},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,472},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{756,452},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_card_Team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,32}</string>
                <key>spriteSourceSize</key>
                <string>{111,32}</string>
                <key>textureRect</key>
                <string>{{693,295},{111,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_card_TeamBounty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,32}</string>
                <key>spriteSourceSize</key>
                <string>{111,32}</string>
                <key>textureRect</key>
                <string>{{693,329},{111,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Account_AvatarSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{749,191},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Server.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{806,343},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,147}</string>
                <key>spriteSourceSize</key>
                <string>{322,147}</string>
                <key>textureRect</key>
                <string>{{576,1},{322,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,54}</string>
                <key>spriteSourceSize</key>
                <string>{171,54}</string>
                <key>textureRect</key>
                <string>{{576,191},{171,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_equipdetail_equipOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{145,67}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{749,226},{145,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_soldout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{576,247},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Icon0.png</string>
            <key>size</key>
            <string>{899,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1ea5c1c97da162f287b25fbd61a2f73:c40069ae69e84a93c9fa3a4b75627c8c:acafbb2e3edc5db56f79081c2f10ede1$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Icon0.png</string>
        </dict>
    </dict>
</plist>
