<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArenaLobby2_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,66}</string>
                <key>spriteSourceSize</key>
                <string>{208,66}</string>
                <key>textureRect</key>
                <string>{{1321,1200},{208,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{161,63}</string>
                <key>textureRect</key>
                <string>{{1866,1059},{161,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,74}</string>
                <key>spriteSourceSize</key>
                <string>{254,74}</string>
                <key>textureRect</key>
                <string>{{1763,318},{254,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,78}</string>
                <key>spriteSourceSize</key>
                <string>{261,78}</string>
                <key>textureRect</key>
                <string>{{1501,1787},{261,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{463,1803},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,73}</string>
                <key>spriteSourceSize</key>
                <string>{248,73}</string>
                <key>textureRect</key>
                <string>{{725,1813},{248,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,191}</string>
                <key>spriteSourceSize</key>
                <string>{331,191}</string>
                <key>textureRect</key>
                <string>{{1511,807},{331,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,191}</string>
                <key>spriteSourceSize</key>
                <string>{370,191}</string>
                <key>textureRect</key>
                <string>{{949,1200},{370,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{1531,1167},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{1531,1339},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{676,143},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,426},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,621},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,141}</string>
                <key>spriteSourceSize</key>
                <string>{606,141}</string>
                <key>textureRect</key>
                <string>{{1,816},{606,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExchangeShopLobby_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,204}</string>
                <key>spriteSourceSize</key>
                <string>{470,204}</string>
                <key>textureRect</key>
                <string>{{1,1591},{470,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{1825,134},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{291,1797},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{1825,226},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{1844,807},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{1844,899},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FashionShop_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,189}</string>
                <key>spriteSourceSize</key>
                <string>{403,189}</string>
                <key>textureRect</key>
                <string>{{473,1612},{403,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirstRecharge_title02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,267}</string>
                <key>spriteSourceSize</key>
                <string>{362,267}</string>
                <key>textureRect</key>
                <string>{{897,1393},{362,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Player_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{380,257}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{1129,802},{380,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Story_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{384,255}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{1161,545},{384,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{384,257}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{511,1353},{384,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,65}</string>
                <key>spriteSourceSize</key>
                <string>{208,65}</string>
                <key>textureRect</key>
                <string>{{1321,1268},{208,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{1866,991},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildRanking_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,73}</string>
                <key>spriteSourceSize</key>
                <string>{220,73}</string>
                <key>textureRect</key>
                <string>{{975,1813},{220,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1241,1730},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1531,1684},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1770,1511},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,139}</string>
                <key>spriteSourceSize</key>
                <string>{673,139}</string>
                <key>textureRect</key>
                <string>{{1,285},{673,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_RaidBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,159}</string>
                <key>spriteSourceSize</key>
                <string>{453,159}</string>
                <key>textureRect</key>
                <string>{{494,1192},{453,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1791,1614},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1791,1697},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{1791,1780},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoneyCollection_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,226}</string>
                <key>spriteSourceSize</key>
                <string>{491,226}</string>
                <key>textureRect</key>
                <string>{{1,1153},{491,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,95}</string>
                <key>spriteSourceSize</key>
                <string>{288,95}</string>
                <key>textureRect</key>
                <string>{{1,1797},{288,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewHeroJ_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,165}</string>
                <key>spriteSourceSize</key>
                <string>{353,165}</string>
                <key>textureRect</key>
                <string>{{1511,1000},{353,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,143}</string>
                <key>spriteSourceSize</key>
                <string>{419,143}</string>
                <key>textureRect</key>
                <string>{{1243,400},{419,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopUpSale_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,131}</string>
                <key>spriteSourceSize</key>
                <string>{472,131}</string>
                <key>textureRect</key>
                <string>{{1351,134},{472,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Power Achievement_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,137}</string>
                <key>spriteSourceSize</key>
                <string>{378,137}</string>
                <key>textureRect</key>
                <string>{{1034,1061},{378,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StepBundle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,335}</string>
                <key>spriteSourceSize</key>
                <string>{268,335}</string>
                <key>textureRect</key>
                <string>{{1261,1393},{268,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonArms_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,159}</string>
                <key>spriteSourceSize</key>
                <string>{541,159}</string>
                <key>textureRect</key>
                <string>{{616,471},{541,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFriend_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,157}</string>
                <key>spriteSourceSize</key>
                <string>{543,157}</string>
                <key>textureRect</key>
                <string>{{616,632},{543,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,272}</string>
                <key>spriteSourceSize</key>
                <string>{365,272}</string>
                <key>textureRect</key>
                <string>{{1664,400},{365,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPremium_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1,959},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelAchi_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,149}</string>
                <key>spriteSourceSize</key>
                <string>{361,149}</string>
                <key>textureRect</key>
                <string>{{878,1662},{361,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_BannerB001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,171}</string>
                <key>spriteSourceSize</key>
                <string>{237,171}</string>
                <key>textureRect</key>
                <string>{{1531,1511},{237,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,208}</string>
                <key>spriteSourceSize</key>
                <string>{508,208}</string>
                <key>textureRect</key>
                <string>{{1,1381},{508,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_151_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,131}</string>
                <key>spriteSourceSize</key>
                <string>{359,131}</string>
                <key>textureRect</key>
                <string>{{1547,674},{359,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_169_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,131}</string>
                <key>spriteSourceSize</key>
                <string>{470,131}</string>
                <key>textureRect</key>
                <string>{{1291,267},{470,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_170_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,132}</string>
                <key>spriteSourceSize</key>
                <string>{511,132}</string>
                <key>textureRect</key>
                <string>{{616,791},{511,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_171_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{609,925},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_190_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,131}</string>
                <key>spriteSourceSize</key>
                <string>{476,131}</string>
                <key>textureRect</key>
                <string>{{556,1059},{476,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_191_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,131}</string>
                <key>spriteSourceSize</key>
                <string>{565,131}</string>
                <key>textureRect</key>
                <string>{{676,338},{565,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_192_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,131}</string>
                <key>spriteSourceSize</key>
                <string>{566,131}</string>
                <key>textureRect</key>
                <string>{{1351,1},{566,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner1.png</string>
            <key>size</key>
            <string>{2030,1893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55520e125e903566d24810838b8734a:db4eee5ee2f38bcbb9bd13f57b2d977e:c21101f73408dcafcb8d66bb067721d3$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner1.png</string>
        </dict>
    </dict>
</plist>
