<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Event001_Entey_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{1,1270},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Entey_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{341,1270},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1221,1385},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1654,562},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1915,201},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1832,288},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1351,857},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1221,1495},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1536,1158},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1832,472},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1351,1042},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1536,974},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1351,1227},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,383}</string>
                <key>spriteSourceSize</key>
                <string>{601,383}</string>
                <key>textureRect</key>
                <string>{{686,1},{601,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,531}</string>
                <key>spriteSourceSize</key>
                <string>{683,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,171}</string>
                <key>spriteSourceSize</key>
                <string>{323,171}</string>
                <key>textureRect</key>
                <string>{{681,1280},{323,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1698,1215},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1715,1401},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,80}</string>
                <key>spriteSourceSize</key>
                <string>{207,80}</string>
                <key>textureRect</key>
                <string>{{1784,778},{207,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1351,585},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,104}</string>
                <key>textureRect</key>
                <string>{{1225,1279},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,120}</string>
                <key>spriteSourceSize</key>
                <string>{198,120}</string>
                <key>textureRect</key>
                <string>{{1816,656},{198,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,157}</string>
                <key>spriteSourceSize</key>
                <string>{224,157}</string>
                <key>textureRect</key>
                <string>{{1351,698},{224,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,110}</string>
                <key>textureRect</key>
                <string>{{1720,1103},{202,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1016,1279},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1006,1360},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1472,1484},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,103}</string>
                <key>spriteSourceSize</key>
                <string>{182,103}</string>
                <key>textureRect</key>
                <string>{{1715,1296},{182,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,116}</string>
                <key>spriteSourceSize</key>
                <string>{202,116}</string>
                <key>textureRect</key>
                <string>{{1720,985},{202,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,447}</string>
                <key>spriteSourceSize</key>
                <string>{678,447}</string>
                <key>textureRect</key>
                <string>{{1,534},{678,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1915,201},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{501,147}</string>
                <key>spriteSourceSize</key>
                <string>{501,155}</string>
                <key>textureRect</key>
                <string>{{1289,288},{501,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1625,437},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1577,724},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1080,1441},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1331,1468},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1577,849},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1784,860},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,119}</string>
                <key>textureRect</key>
                <string>{{681,1453},{397,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1331,1412},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1513,1428},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{1472,1565},{103,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,106}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1536,1320},{177,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,97}</string>
                <key>textureRect</key>
                <string>{{1915,102},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{1907,1215},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,44}</string>
                <key>spriteSourceSize</key>
                <string>{173,44}</string>
                <key>textureRect</key>
                <string>{{1695,1482},{173,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,145}</string>
                <key>spriteSourceSize</key>
                <string>{522,145}</string>
                <key>textureRect</key>
                <string>{{686,386},{522,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{1351,437},{272,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{1681,1528},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{681,534},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1016,533},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1,983},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1289,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_ Event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1915,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_EventRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1870,1482},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Event0.png</string>
            <key>size</key>
            <string>{2015,1605}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509599ccdf7e9662173cb60070536404:ee7d3341680fb449b6399df16083b090:ec6b001612c4527ae226ca5e096085ed$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Event0.png</string>
        </dict>
    </dict>
</plist>
