<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Battle_cleared.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,39}</string>
                <key>spriteSourceSize</key>
                <string>{268,77}</string>
                <key>textureRect</key>
                <string>{{211,958},{256,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,29},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,56},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,83},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,110},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,137},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bounty_Level6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,164},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_Lost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,46}</string>
                <key>spriteSourceSize</key>
                <string>{91,46}</string>
                <key>textureRect</key>
                <string>{{118,958},{91,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_Victory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{265,889},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{576,326},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{576,393},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CombatStats_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{576,460},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Tag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,191},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Tag02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,218},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,886}</string>
                <key>spriteSourceSize</key>
                <string>{573,886}</string>
                <key>textureRect</key>
                <string>{{1,1},{573,886}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_TextBP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{576,565},{62,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_TextLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,36}</string>
                <key>spriteSourceSize</key>
                <string>{63,36}</string>
                <key>textureRect</key>
                <string>{{576,527},{63,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,245},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,272},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{576,299},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_card_Team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,32}</string>
                <key>spriteSourceSize</key>
                <string>{111,32}</string>
                <key>textureRect</key>
                <string>{{375,889},{111,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_card_TeamBounty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,32}</string>
                <key>spriteSourceSize</key>
                <string>{111,32}</string>
                <key>textureRect</key>
                <string>{{375,923},{111,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Account_AvatarSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{576,603},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Server.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{576,1},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_equipdetail_equipOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,67}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{118,889},{145,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_soldout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,889},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Icon0.png</string>
            <key>size</key>
            <string>{665,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a31fb612f2fddbd749cc2a92d63d56:5e28557cfbe1cfe31555a384f8a40543:44689096fa3f496200e4ad4d60e515c8$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Icon0.png</string>
        </dict>
    </dict>
</plist>
