<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EventNews_Btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{1,1244},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{825,1165},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{873,500},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,83}</string>
                <key>spriteSourceSize</key>
                <string>{613,83}</string>
                <key>textureRect</key>
                <string>{{172,1220},{613,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{825,513},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{825,470},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{43,33}</string>
                <key>textureRect</key>
                <string>{{825,435},{43,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{770,280},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_BannerA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{565,1116},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_BannerB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,111}</string>
                <key>spriteSourceSize</key>
                <string>{237,111}</string>
                <key>textureRect</key>
                <string>{{703,322},{237,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Btn14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{825,591},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{843,208},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,525}</string>
                <key>spriteSourceSize</key>
                <string>{77,525}</string>
                <key>textureRect</key>
                <string>{{862,554},{77,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{703,1081},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{878,1195},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,46}</string>
                <key>spriteSourceSize</key>
                <string>{194,46}</string>
                <key>textureRect</key>
                <string>{{723,87},{194,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{703,280},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_ChatIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{918,135},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Chatbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{878,1165},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Page_A0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{923,55},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Page_A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{921,74},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,16}</string>
                <key>spriteSourceSize</key>
                <string>{200,16}</string>
                <key>textureRect</key>
                <string>{{723,37},{200,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,14}</string>
                <key>spriteSourceSize</key>
                <string>{193,14}</string>
                <key>textureRect</key>
                <string>{{723,135},{193,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,16}</string>
                <key>spriteSourceSize</key>
                <string>{198,16}</string>
                <key>textureRect</key>
                <string>{{723,55},{198,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,16}</string>
                <key>spriteSourceSize</key>
                <string>{203,16}</string>
                <key>textureRect</key>
                <string>{{723,1},{203,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,12}</string>
                <key>spriteSourceSize</key>
                <string>{196,12}</string>
                <key>textureRect</key>
                <string>{{723,73},{196,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,16}</string>
                <key>spriteSourceSize</key>
                <string>{201,16}</string>
                <key>textureRect</key>
                <string>{{723,19},{201,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_iconPower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{825,553},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,159}</string>
                <key>spriteSourceSize</key>
                <string>{720,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_Img7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,102}</string>
                <key>spriteSourceSize</key>
                <string>{442,102}</string>
                <key>textureRect</key>
                <string>{{121,1116},{442,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,127}</string>
                <key>spriteSourceSize</key>
                <string>{118,127}</string>
                <key>textureRect</key>
                <string>{{723,151},{118,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{118,126}</string>
                <key>textureRect</key>
                <string>{{1,1116},{118,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,55}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{843,151},{72,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{703,543},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{65,23}</string>
                <key>textureRect</key>
                <string>{{873,435},{65,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{787,1219},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{850,1081},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{60,1244},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{782,1081},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{116,1244},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{816,1081},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{703,435},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{870,460},{69,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,43}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{703,498},{76,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,952}</string>
                <key>spriteSourceSize</key>
                <string>{700,952}</string>
                <key>textureRect</key>
                <string>{{1,162},{700,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainPage010.png</string>
            <key>size</key>
            <string>{941,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a33873643aa45073c8cfccfe9febb8e9:a214f62c9176b3b077839d735dd71888:178fc0aceecc7ddf8d6bbdbd3a08104a$</string>
            <key>textureFileName</key>
            <string>MainPage010.png</string>
        </dict>
    </dict>
</plist>
