<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArenaLobby3_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{406,383},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1899,108},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{506,383},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{551,383},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1891,271},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{1738,1},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_Img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,170}</string>
                <key>spriteSourceSize</key>
                <string>{652,170}</string>
                <key>textureRect</key>
                <string>{{1083,235},{652,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,12}</string>
                <key>textureRect</key>
                <string>{{1,437},{39,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,18}</string>
                <key>spriteSourceSize</key>
                <string>{45,18}</string>
                <key>textureRect</key>
                <string>{{406,428},{45,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1738,162},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_bg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1877,315},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{200,383},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{269,383},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{338,383},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1899,1},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank_team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1891,194},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,52}</string>
                <key>spriteSourceSize</key>
                <string>{197,52}</string>
                <key>textureRect</key>
                <string>{{1,383},{197,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,139}</string>
                <key>spriteSourceSize</key>
                <string>{138,139}</string>
                <key>textureRect</key>
                <string>{{1737,315},{138,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,232}</string>
                <key>spriteSourceSize</key>
                <string>{653,232}</string>
                <key>textureRect</key>
                <string>{{1083,1},{653,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{461,383},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,380}</string>
                <key>spriteSourceSize</key>
                <string>{1080,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rank0.png</string>
            <key>size</key>
            <string>{2018,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a76836432e541b4e13d7b481d77a9ea:e07de63bebfe2b09a10368cdb0f26312:23316dce5c1a32c27f5db717a0a6df1e$</string>
            <key>textureFileName</key>
            <string>Rank0.png</string>
        </dict>
    </dict>
</plist>
