<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HolyGrail_btn1_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{99,104}</string>
                <key>textureRect</key>
                <string>{{723,1},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn1_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{99,104}</string>
                <key>textureRect</key>
                <string>{{723,107},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn1_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{723,213},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn2_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{823,213},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn2_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{824,1},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn2_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{824,107},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn3_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{923,213},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn3_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{956,319},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn3_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{924,1},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn4_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{924,107},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn4_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1023,213},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn4_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1056,319},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn5_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1024,1},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn5_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1024,107},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn5_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1123,213},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn6_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1156,319},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn6_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1124,1},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn6_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1124,97},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn7_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1219,1},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn7_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1219,97},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn7_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1223,193},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn8_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1251,289},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn8_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1272,385},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn8_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1314,1},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn9_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1314,97},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn9_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1318,193},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_btn9_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1346,289},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,335}</string>
                <key>spriteSourceSize</key>
                <string>{720,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,116}</string>
                <key>spriteSourceSize</key>
                <string>{578,116}</string>
                <key>textureRect</key>
                <string>{{376,338},{578,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{1,338},{123,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{1367,385},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{126,338},{123,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,19}</string>
                <key>textureRect</key>
                <string>{{312,462},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,19}</string>
                <key>textureRect</key>
                <string>{{312,483},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{251,338},{123,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,60}</string>
                <key>spriteSourceSize</key>
                <string>{314,60}</string>
                <key>textureRect</key>
                <string>{{956,425},{314,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HolyGrail_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,41}</string>
                <key>spriteSourceSize</key>
                <string>{309,41}</string>
                <key>textureRect</key>
                <string>{{1,462},{309,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SoulStar0.png</string>
            <key>size</key>
            <string>{1457,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53d110a7acae3b6a114859a926fdf21:cc3d14550c236a5e4ebf952c2d17f33c:910178b80e9bcc02b87189eb4319d817$</string>
            <key>textureFileName</key>
            <string>SoulStar0.png</string>
        </dict>
    </dict>
</plist>
