<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpiritSummon_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{336,871},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFactionPopup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,643}</string>
                <key>spriteSourceSize</key>
                <string>{683,643}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,643}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFactionPopup_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{114,162}</string>
                <key>textureRect</key>
                <string>{{220,766},{114,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFactionPopup_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,192}</string>
                <key>spriteSourceSize</key>
                <string>{143,192}</string>
                <key>textureRect</key>
                <string>{{1048,638},{143,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFaction_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,74}</string>
                <key>spriteSourceSize</key>
                <string>{282,74}</string>
                <key>textureRect</key>
                <string>{{1,646},{282,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonResult10_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{555,635}</string>
                <key>spriteSourceSize</key>
                <string>{571,637}</string>
                <key>textureRect</key>
                <string>{{686,1},{555,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WishingWell_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{106,116}</string>
                <key>textureRect</key>
                <string>{{462,871},{106,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WishingWell_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{371,646},{224,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WishingWell_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1,798},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WishingWell_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{597,798},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WishingWell_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{816,798},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,158}</string>
                <key>spriteSourceSize</key>
                <string>{360,158}</string>
                <key>textureRect</key>
                <string>{{686,638},{360,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,42}</string>
                <key>spriteSourceSize</key>
                <string>{368,42}</string>
                <key>textureRect</key>
                <string>{{1,722},{368,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Summon0.png</string>
            <key>size</key>
            <string>{1242,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e256e9c87efc373b3fdd0b29f14f30:bbd3337263f2cd0eb53aa38f4666d667:25d5a62c06b435bc34e5e89ba1f78ed8$</string>
            <key>textureFileName</key>
            <string>Summon0.png</string>
        </dict>
    </dict>
</plist>
