<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mission_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,135}</string>
                <key>spriteSourceSize</key>
                <string>{613,135}</string>
                <key>textureRect</key>
                <string>{{723,558},{613,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1205,830},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{1260,925},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{706,971},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{741,971},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,173}</string>
                <key>spriteSourceSize</key>
                <string>{720,173}</string>
                <key>textureRect</key>
                <string>{{1,683},{720,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{976,830},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,139}</string>
                <key>spriteSourceSize</key>
                <string>{251,139}</string>
                <key>textureRect</key>
                <string>{{723,830},{251,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,133}</string>
                <key>spriteSourceSize</key>
                <string>{674,133}</string>
                <key>textureRect</key>
                <string>{{723,695},{674,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_Result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,555}</string>
                <key>spriteSourceSize</key>
                <string>{683,555}</string>
                <key>textureRect</key>
                <string>{{723,1},{683,555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageBar0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,21}</string>
                <key>textureRect</key>
                <string>{{1204,979},{51,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,14}</string>
                <key>spriteSourceSize</key>
                <string>{45,14}</string>
                <key>textureRect</key>
                <string>{{1338,673},{45,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{1157,933},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1338,619},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1205,925},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{1338,558},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1102,830},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,200}</string>
                <key>textureRect</key>
                <string>{{1,481},{720,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,40}</string>
                <key>spriteSourceSize</key>
                <string>{720,40}</string>
                <key>textureRect</key>
                <string>{{1,858},{720,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,478}</string>
                <key>spriteSourceSize</key>
                <string>{720,478}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1302,830},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1302,922},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1102,933},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{976,956},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1029,956},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{441,900},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{494,900},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{547,900},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{600,900},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{653,900},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{441,953},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{494,953},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{547,953},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{56,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{600,953},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{653,953},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{54,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{107,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{160,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{213,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{266,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{319,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{372,954},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{111,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{166,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{221,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{276,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{331,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageImg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{386,900},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageLine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{1257,979},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageLine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{1257,988},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleBoss_StageLine3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,9}</string>
                <key>spriteSourceSize</key>
                <string>{30,9}</string>
                <key>textureRect</key>
                <string>{{1157,981},{30,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldBoss0.png</string>
            <key>size</key>
            <string>{1407,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c78cc181b4f923252c775d55b70a161:a7b11463a75d88f5266c41b9fc506d11:6ab2dfb41bf8ef8f2e73a8ce9f2456a5$</string>
            <key>textureFileName</key>
            <string>WorldBoss0.png</string>
        </dict>
    </dict>
</plist>
